/*external CSS for navbar*/
* {
	font-family: 'Montserrat', sans-serif;
}

html{
	scroll-behavior: smooth;
}

body {
	background-image: url("https://thumbs.gfycat.com/BlushingEagerHerald-max-1mb.gif");
	height: 100%;
	background-position: center;
	background-repeat: repeat;
}

/*navbar section*/
#myNavBar {
	background-color: black;
	opacity: 0.9;
}

#myNavBar .navbar-brand {
	color: #477afc;
	font-weight: 900;
	font-size: 48px;
}

#myNavBar a {
	color: white;
}

#myNavBar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/*main section*/
#myMain h1 {
	color: white;
}

#myMain span{
	color: #477afc;
}

/*about me section*/
#aboutMe {
	background-color: black;
	opacity: 0.8;
}

#aboutMe h1, #aboutMe h6 {
	color: white;
}

#aboutMe span{
	color: #477afc;
}

/*education/work section*/
#eduWork {
	background-color: black;
	opacity: 0.8;
}

#eduWork h1, #eduWork h4, #eduWork li {
	color: white;
}

/*skills section*/
#skillz {
	background-color: black;
	opacity: 0.8;
}

#skillz h1, #skillz h6 {
	color: white;
}

/*my projects section*/
#myProjects {
	background-color: black;
	opacity: 0.8;
}

#myProjects h1, #myProjects h5, #myProjects p {
	color: white;
}

/*contact form section*/
#contactMe {
	background-color: black;
	opacity: 0.8;
}

#contactMe h1, #contactMe label{
	color: white;
}

/*footer section*/
#footer p {
	color: white;
}